* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #fff;
}

.operacion,
.tabla {
    height: 90%;
    background-color: #fff;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.operacion {
    width: 25%;
}

.tabla {
    width: 65%;
}

.titulo {
    margin: 0;
    background-color: #41517B;
    overflow: hidden;
}